In [4]:
from sklearn import svm, datasets
import pandas as pd
import numpy as np

/home/mashimo/.pyenv/versions/3.6.4/lib/python3.6/site-packages/pandas/compat/__init__.py:85: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)
/home/mashimo/.pyenv/versions/3.6.4/lib/python3.6/site-packages/pandas/compat/__init__.py:85: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [5]:
data_x = pd.read_csv('data_x.csv')
data_x

        x     y    z
0    2195  2101  775
1    2195  2101  775
2    2195  2101  775
3    2195  2101  775
4    2195  2101  775
..    ...   ...  ...
437  1747  3752  558
438  1747  3752  558
439  1747  3752  558
440  1747  3752  558
441  1747  3752  558

[442 rows x 3 columns]

In [7]:
data_y = pd.read_csv('data_y.csv')
data_y

     label
0        0
1        0
2        0
3        0
4        0
..     ...
437      1
438      1
439      1
440      1
441      1

[442 rows x 1 columns]

In [9]:
clf = svm.SVC(gamma=0.001, C=100.)
clf.fit(data_x, data_y)

/home/mashimo/.pyenv/versions/3.6.4/lib/python3.6/site-packages/sklearn/utils/validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=100.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma=0.001, kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [17]:
data = np.array([[2195, 2100, 770]])
data

array([[2195, 2100,  770]])

In [18]:
c = clf.predict(data)
c

array([0])